*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body{
    background-image: url(../../img/bg.jpg);
    background-size: cover;
}

.amarelo{
    color: rgb(255, 255, 80);
    text-shadow: red 1px 1px 1px;
    animation: text-shadow-titulo infinite alternate 1.5s;
}

.nav-senai{
    background-color: rgb(147, 0, 0);
}

.nav-senai li a{
    color: white;
    margin-left: 10px;
}

.nav-senai li a:hover{
    background-color: white;
    color: rgb(147, 0, 0);
    border-radius: 10px;
}

.img-senai img{
    max-width: 150px;
}

.img-cantina img{
    max-width: 300px;
    animation: alternate infinite 1.5s aumentar-logo;
}

.home-botoes ul{
    margin-top: 10%;
    list-style: none;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    line-height: 65px;
}

p{
    margin-top: 30px;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-botoes li{
    height: 20px;
}

.home-botoes a{
    background-color: rgb(221, 0, 0);
    padding: 4% 10%;
    font-size: 1.1rem;
    height: 100px;
    border-radius: 15px;
    color: white;
}

.home-botoes a:hover{
    background-color: white;
    color: rgb(221, 0, 0);
    text-decoration: none;
    box-shadow: 0px 0px 10px red;
    transition: 0.3s;
}

.img-cantina img{
    border-radius: 200px;
}

.rodape{
    background-color: rgb(147, 0, 0);
    color: white;
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.texto-principal{
    margin-top: 7%;
}

.img-cantina{
    margin-top: 7%;
}

.principal{
    position: relative;
    margin-bottom: 100px;
}

@keyframes text-shadow-titulo {
    from{
        text-shadow: 1px 1px 5px red;
    }

    to{
        text-shadow: 1px 1px 5px rgb(203, 203, 62);
    }
}

@keyframes aumentar-logo {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.03);
    }
}